.header {
  color: #607b96;
  width: 100%;

  &-item {
    border-left: 1px solid #607b96;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 4px 0px;

    @include tab {
      padding: 4px 0.5rem;
      border: 1px solid #607b96;
    }
  }

  &-brand {
    padding-left: 20px;
    align-items: center;
    padding: 4px 0;
    font-weight: 800;

    @include tab {
      display: none;
      width: 0px;
    }
  }

  &-projects {
    border-right: 1px solid #607b96;
    margin-right: auto;
  }

  &-about {
    border-right: 1px solid #607b96;
  }

  &-contact {
    margin-left: auto;
    border-left: 1px solid #607b96;
    text-align: center;
    padding: 4px 30px;

    @include tab {
      display: none;
    }
  }
}

.header-container {
  display: grid;
  grid-template-columns: 180px repeat(3, 120px) minmax(50px, 1fr);
  border-bottom: 1px solid #607b96;
  padding: 0px 20px;

  @include tab {
    display: flex;
    justify-content: center;
    border-bottom: 0px;
    margin-top: 1rem;
    font-size: 1.1rem;
    gap: 0.3rem;
    width: 100%;
    font-weight: 400;
  }
}

.active {
  color: white;
}
