.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 200px  repeat(2,80px) 1fr 180px;
    align-items: center;
    color: #607B96;
    border-top: 1px solid #607B96;
    justify-content: center;

    &__item{
        border-left: 1px solid #607B96;
        padding: 4px 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    
    }

    &__find-me{
        padding-left: 20px;
    }

    &__instagram{   
        border-right: 1px solid #607B96;
    }

    &__github{
        text-align: center;
        color: aqua;
    }
}