@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/variables.scss";
@import "_components/footer/footer";
@import "_components/header/header";
@import "_components/molecules/molecules";
@import "_components/hello/hello-intro";
@import "projects/projects";
@import "snake/board";
@import "styles/fonts.scss";
@import "about/about.scss";

:root {
  background-color: #011627;
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(
      rgba(69, 243, 191, 0.835),
      rgba(67, 217, 173, 0.13)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-2 {
    background: linear-gradient(rgba(0, 255, 204, 1), rgba(102, 255, 204, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer components {
  .gradient-btn {
    @apply text-white font-bold rounded px-4 py-2;
    background: linear-gradient(
      rgba(69, 243, 191, 0.835),
      rgba(67, 217, 173, 0.13)
    );
  }
}

@layer base {
  :root {
    --background: black;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: black;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;

  @include tab {
    display: block;
    min-height: 0vh;
  }
}

.back {
  --size: 600px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.4);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(#43d9acd5, rgba(67, 217, 173, 13%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 40% 30% / 30% 30% 60% 60%;
  position: absolute;
  top: 0;
  left: 50%;

  @include tab {
    left: 0;
    top: 70%;
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(#45f3bfd5, rgba(67, 217, 173, 13%));
    border-radius: 10% 20% 30% 35% / 10% 20% 30% 40%;
    --size: 300px;
  }
}

.btn {
  border-radius: 0.5em;
}

.btn-primary {
  background: #fea55f;
  padding: 0.5rem 1rem;
  color: #01080e;
}

.btn-secondary {
  padding: 0.5rem 1rem;
  color: #fff;
}

.btn-tertiary {
  padding: 0.5rem 1rem;
  background: #1c2b3a;
  color: #ffffff;
}
