@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #011627;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
}

.back {
  --size: 600px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.4);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(#43d9acd5, rgba(67, 217, 173, 13%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 40% 30% / 30% 30% 60% 60%;
  position: absolute;
  top: 0;
  left: 50%;
}

.btn {
  border-radius: 0.5em;
}

.btn-primary {
  background: #fea55f;
  padding: 0.5rem 1rem;
  color: #01080e;
}

.btn-secondary {
  padding: 0.5rem 1rem;
  color: #fff;
}

.btn-tertiary {
  padding: 0.5rem 1rem;
  background: #1c2b3a;
  color: #ffffff;
}

@import "_components/footer/footer";
@import "_components/header/header";
@import "_components/molecules/molecules";
@import "_components/hello/hello-intro";
@import "projects/projects";
@import "snake/board";
